<html>
<head>
  <title>ข้อความจาก 5000s.org</title>
</head>
<body>
<div style="background-color:#e5e5e5;margin:20px 0px">
	<div style="direction:ltr;color:#777;font-size:0.8em;border-radius:1em;padding:1em;font-family:'Arial','Helvetica',sans-serif;text-align:center">
		จดหมายขอบคุณที่ได้ร่วมลงชื่อ
	</div>
	<div style="margin:2%">
		<div style="direction:ltr;text-align:left;font-family:'Open sans','Arial',sans-serif;color:#444;background-color:white;padding:1.5em;border-radius:1em;max-width:580px;margin:2% auto 0 auto">
			<table style="background:white;width:100%">
				<tbody><tr><td>
					<div style="width:185px;min-height:83px;margin:10px auto"><img src="http://www.kreatorian.com/demo/views/images/buddha5000s.png" alt="5000s" width="185" height="63"></div>
					<div style="clear:both;padding-left:13px;min-height:6.8em">
						<table style="width:100%;border-collapse:collapse;border:0">
							<tbody>
							<tr><td align="center" colspan="2" style="padding:4px"><h2>ขอบคุณที่ร่วมลงชื่อคุณ [NAME],</h2></td></tr>
							<tr>
							<td align="right" width="40%" style="padding:4px">[IMAGE]</td>
							<td style="padding:4px">[BRIEF]</td>
							</tr>
							</tbody>
						</table>
						<hr/>
						<table style="width:100%;border-collapse:collapse;border:0">
							<tbody>
							<tr><td align="center" style="padding:4px"><h2>เริ่มก้าวต่อไป</h2></td></tr>
							<tr><td align="center" style="padding:4px">ด้วยการส่งต่อให้คนที่รู้จัก เพื่อปลุกจิตสำนึกแห่งความดีงาม ในตัวผู้อื่นให้ตื่นขึ้นเช่นกัน</td></tr>
							<tr><td align="center" style="padding:4px">[FB_SHARE_BUTTON]</td></tr>							
							</tbody>
						</table>
						<hr/>
					</div>
				</td></tr></tbody>
			</table>
		</div>
		<div style="direction:ltr;color:#777;font-size:0.8em;border-radius:1em;padding:1em;margin:0 auto 4% auto;font-family:'Arial','Helvetica',sans-serif;text-align:center">
			คุณจะได้รับข่าวสารจาก 5000s.org อย่างต่อเนื่อง เพื่อแจ้งความคืบหน้าเรื่องการรณรงค์ต่างๆ คุณสามารถยกเลิกการติดตามได้ทุกเวลา โดยการเปลี่ยนการตั้งค่าอีเมล์ หรือ <a href="#">บอกเลิกการรับอีเมล์</a> จาก 5000s.org.
		</div>
	</div>
</div>
</body>
</html>